<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.persistence.StoreDAO">
	<select id="getTime" resultType="java.lang.String">
		select now()
	</select>
	
	<sql id="search">
	<if test="keyword !=null">
 	<choose>
   <when test='type == "n"'>
     AND sname like concat('%',#{keyword},'%')
   </when>
   <when test='type == "c"'>
     AND info like concat('%',#{keyword},'%')
   </when>
   <when test='type =="cn"'>
   
   AND ((sname like concat('%',#{keyword},'%')AND #{keyword} is not null)
			OR
			(info like concat('%',#{keyword},'%')AND #{keyword} is not null ))
			
		
   </when>

 </choose>
 </if>
	
	</sql>
	
	<insert id="create" parameterType="org.zerock.domain.StoreVO">
		insert into tbl_store(sname,lat,lng,info) values(#{sname},#{lat},#{lng},
		#{info})
	</insert>

<!-- 	<select id="list" parameterType="org.zerock.domain.Criteria"
		resultType="org.zerock.domain.StoreVO">
		select * from tbl_store
		where sno>0

	<include refid="search"></include>
	
		order by sno desc limit #{skip},#{amount}
	</select> -->
	
	<select id="listCount" parameterType="org.zerock.domain.Criteria"
		resultType="int">
		select count(sno) from tbl_store
		where sno>0
			<include refid="search"></include>
	</select>
	
		<select id="listTypes" parameterType="org.zerock.domain.Criteria"
		resultType="org.zerock.domain.StoreVO">
		select * from tbl_store
		where sno>0
		<include refid="search"></include>
		order by sno desc limit #{skip},#{amount}


	</select>
</mapper>